<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>RegistrationServlet</servlet-name>
  	<display-name>RegistrationServlet</display-name>
  	<description></description>
  	<servlet-class>com.reimbursement.contoller.RegistrationServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>LoginServlet</servlet-name>
  	<display-name>LoginServlet</display-name>
  	<description></description>
  	<servlet-class>com.reimbursement.contoller.LoginServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ApplicationServlet</servlet-name>
  	<display-name>ApplicationServlet</display-name>
  	<description></description>
  	<servlet-class>com.reimbursement.contoller.ApplicationServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Reimdetailsforemp</servlet-name>
  	<display-name>Reimdetailsforemp</display-name>
  	<description></description>
  	<servlet-class>com.reimbursement.contoller.Reimdetailsforemp</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Detailsofemp</servlet-name>
  	<display-name>Detailsofemp</display-name>
  	<description></description>
  	<servlet-class>com.reimbursement.contoller.Detailsofemp</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Viewallreimrequest</servlet-name>
  	<display-name>Viewallreimrequest</display-name>
  	<description></description>
  	<servlet-class>com.reimbursement.contoller.Viewallreimrequest</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Viewallapproved</servlet-name>
  	<display-name>Viewallapproved</display-name>
  	<description></description>
  	<servlet-class>com.reimbursement.contoller.Viewallapproved</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Viewalldenied</servlet-name>
  	<display-name>Viewalldenied</display-name>
  	<description></description>
  	<servlet-class>com.reimbursement.contoller.Viewalldenied</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UpdateApproveDeny</servlet-name>
  	<display-name>UpdateApproveDeny</display-name>
  	<description></description>
  	<servlet-class>com.reimbursement.contoller.UpdateApproveDeny</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UpdatePageServlet</servlet-name>
  	<display-name>UpdatePageServlet</display-name>
  	<description></description>
  	<servlet-class>com.reimbursement.contoller.UpdatePageServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UpdateProfileDetails</servlet-name>
  	<display-name>UpdateProfileDetails</display-name>
  	<description></description>
  	<servlet-class>com.reimbursement.contoller.UpdateProfileDetails</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>RegistrationServlet</servlet-name>
  	<url-pattern>/RegistrationServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>LoginServlet</servlet-name>
  	<url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ApplicationServlet</servlet-name>
  	<url-pattern>/ApplicationServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Reimdetailsforemp</servlet-name>
  	<url-pattern>/Reimdetailsforemp</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Detailsofemp</servlet-name>
  	<url-pattern>/Detailsofemp</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Viewallreimrequest</servlet-name>
  	<url-pattern>/Viewallreimrequest</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Viewallapproved</servlet-name>
  	<url-pattern>/Viewallapproved</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Viewalldenied</servlet-name>
  	<url-pattern>/Viewalldenied</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UpdateApproveDeny</servlet-name>
  	<url-pattern>/UpdateApproveDeny</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UpdatePageServlet</servlet-name>
  	<url-pattern>/UpdatePageServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UpdateProfileDetails</servlet-name>
  	<url-pattern>/UpdateProfileDetails</url-pattern>
  </servlet-mapping>
</web-app>
